In [5]:
import pandas as pd
d=pd.read_csv("book006.csv")
print(d)

    S.No             Name   Age  Gender                     Email   Salary
0    NaN              NaN   NaN     NaN                       NaN      NaN
1    1.0  lathish krishna  25.0    male   lathishkrishna@gmil.com  50408.0
2    2.0           kumran  24.0    Male      kumaran.16@gmail.com  43768.0
3    3.0            Akash  25.0    Male     Akash.james@gmail.com  67432.0
4    4.0          lakshya  22.0  Female         lakshya@gmail.com  67666.0
5    5.0            Irene  23.0  Female           irene@gmail.com  34456.0
6    6.0           Ashika  27.0  Female  ashika.mohamad@gmail.com  46781.0
7    7.0           Gopika  28.0  Female         gopi.ka@gmail.com  60796.0
8    8.0             Asha  31.0  Female            asha@gmail.com  88120.0
9    9.0         Nandhini  29.0  Female        Nandhini@gmail.com  54908.0
10  10.0         Amarnath  25.0    Male        amarnath@gmail.com  76288.0
11  11.0    Ranjith kumar  28.0    Male   ranjith.kumar@gmail.com  68928.0
12  12.0          Sabrina  26.0  Female         sabrina@gmail.com  48548.0
13  13.0         Niranjan  22.0    Male        niranjan@gmail.com  59595.0
14  14.0            Rohit  34.0    Male           rohit@gmail.com  86443.0
15  15.0          Lakshmi  30.0  Female         lakshmi@gmail.com  37475.0
16  16.0    Nithyakalyani  25.0  Female   nithyakalyani@gmail.com  54637.0
17  17.0      Padmanabhan  28.0    Male           padhu@gmail.com  73411.0
18  18.0            Rahul  27.0    Male           rahul@gmail.com  98212.0
19  19.0          Shankar  32.0    Male         shankar@gmail.com  73838.0
20  20.0            Shiva  33.0    Male           shiva@gmail.com  90873.0
21  21.0         Susmitha  24.0  Female        susmitha@gmail.com  36474.0
22  22.0          Praveen  24.0    Male         praveen@gmail.com  78904.0
23  23.0        Rajarajan  36.0    Male       Rajarajan@gmail.com  34576.0
24  24.0     Sathishkumar  38.0    Male    sathishkumar@gmail.com  39123.0
25  25.0    Rithik roshan  25.0    Male   rithik.roshan@gmail.com  59002.0

In [6]:
df=pd.DataFrame(d)
print("columns",df.columns)
print(df.shape)

columns Index(['S.No', 'Name', 'Age', 'Gender', 'Email', 'Salary'], dtype='object')
(26, 6)

In [11]:
import pandas as pd 
print("Name",df['Name'])

Name 0                 NaN
1     lathish krishna
2              kumran
3               Akash
4             lakshya
5               Irene
6              Ashika
7              Gopika
8                Asha
9            Nandhini
10           Amarnath
11      Ranjith kumar
12            Sabrina
13           Niranjan
14              Rohit
15            Lakshmi
16      Nithyakalyani
17        Padmanabhan
18              Rahul
19            Shankar
20              Shiva
21           Susmitha
22            Praveen
23          Rajarajan
24       Sathishkumar
25      Rithik roshan
Name: Name, dtype: object

In [13]:
print(df[1:3])

   S.No             Name   Age Gender                    Email   Salary
1   1.0  lathish krishna  25.0   male  lathishkrishna@gmil.com  50408.0
2   2.0           kumran  24.0   Male     kumaran.16@gmail.com  43768.0

In [15]:
print("particular person details",df.loc[9])

particular person details S.No                     9.0
Name                Nandhini
Age                     29.0
Gender                Female
Email     Nandhini@gmail.com
Salary               54908.0
Name: 9, dtype: object

In [25]:
print(d.loc[d['Salary']==43768.0])

   S.No    Name   Age Gender                 Email   Salary
2   2.0  kumran  24.0   Male  kumaran.16@gmail.com  43768.0

In [20]:
df=d['Salary']/999
print(df)

0           NaN
1     50.458458
2     43.811812
3     67.499499
4     67.733734
5     34.490490
6     46.827828
7     60.856857
8     88.208208
9     54.962963
10    76.364364
11    68.996997
12    48.596597
13    59.654655
14    86.529530
15    37.512513
16    54.691692
17    73.484484
18    98.310310
19    73.911912
20    90.963964
21    36.510511
22    78.982983
23    34.610611
24    39.162162
25    59.061061
Name: Salary, dtype: float64